* {
box-sizing: border-box;
}

body {
    background: url("../images/background.jpg");
    background-size: 1500px 735px;
    background-attachment: fixed;
    margin-right: 740px;
    margin-left: 80px;
}

h1 {
    padding-top: 40px;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    color: #000ecf;
    font-size: 70px;

}
h2 {
    font-family: 'Racing Sans One', cursive;
    font-size: 38px;
    color: red;
}

h4 {
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
    text-align: left;
    padding-left: 25px;

}

h5 {
    font-family: 'Racing Sans One', cursive;
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
}
h3 {
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
}

h6 {
    font-family: 'Racing Sans One', cursive;
    font-size: 25px;
}

.container {
    font-family: 'Racing Sans One', cursive;
    float: left;
    text-align: center;
}

.main-content {
    clear: both;
    padding: 5%;
}

.btn{
    padding: 15px 75px;
    font-size: 20px;
    background: rgb(28, 179, 36);
    border: 2px solid #000ecf;
}


